/* dynamic generated css*/
.colorskin-custom #header.sm-rgt-mn #menu-icon span.mn-ext1, .colorskin-custom #header.sm-rgt-mn #menu-icon span.mn-ext2, .colorskin-custom #header.sm-rgt-mn #menu-icon span.mn-ext3,
.colorskin-custom .icon-box7 a.magicmore, .colorskin-custom .max-counter.m-counter:hover .max-count, .colorskin-custom .blox.dark .max-counter.m-counter:hover .max-count, .colorskin-custom .dark-content .max-counter.m-counter:hover .max-count, .colorskin-custom #scroll-top a:hover, .colorskin-custom .our-process-item:hover i, .colorskin-custom .icon-box6 i, .colorskin-custom .icon-box1:hover i, .colorskin-custom .single .woo-template span.onsale, .colorskin-custom .woocommerce ul.products li.product .onsale, .colorskin-custom .woocommerce-page ul.products li.product .onsale, .colorskin-custom .icon-box5:hover i, .colorskin-custom .icon-box6 i, .colorskin-custom #wp-calendar tbody td#today:hover, .colorskin-custom .jcarousel-next:hover, .colorskin-custom .jcarousel-next:active, .colorskin-custom .jcarousel-prev:hover, .colorskin-custom .jcarousel-prev:active
{ background-color: #0ab1f0}

.colorskin-custom #nav ul li a:hover, .colorskin-custom #nav li.current ul li a:hover, .colorskin-custom .nav-wrap2 #nav ul li a:hover, .colorskin-custom .nav-wrap2.darknavi #nav ul li a:hover, .colorskin-custom #nav ul li.current > a, .colorskin-custom #nav ul li:hover > a, .colorskin-custom a.magicmore, .colorskin-custom nav.primary .portfolioFilters a.selected, .colorskin-custom nav.primary ul li a:active, .colorskin-custom nav.primary .portfolioFilters a:hover, .colorskin-custom .testimonials-slider-w .testimonial-content h4 q:before, .colorskin-custom .testimonials-slider-w .testimonial-content h4 q:after, .colorskin-custom .icon-box3:hover i, .colorskin-custom .jcarousel-next:hover, .colorskin-custom .jcarousel-next:active, .jcarousel-prev:hover, .colorskin-custom .jcarousel-prev:active, .colorskin-custom .icon-box6 a.magicmore, .colorskin-custom .icon-box1 i, .colorskin-custom .icon-box1 a, .colorskin-custom .max-quote h2:before, .colorskin-custom .max-quote h2:after, .colorskin-custom .woocommerce a.add_to_cart_button.button:hover, .colorskin-custom .woocommerce a.product_type_variable.button:hover, .colorskin-custom .woocommerce a.product_type_grouped.button:hover, .colorskin-custom .woocommerce a.product_type_simple.button:hover, #wrap.colorskin-custom .vc_carousel h2.post-title a:hover, .colorskin-custom .latest-title a:hover, .colorskin-custom .icon-box5 i, .colorskin-custom .our-team h5, .colorskin-custom .button.blue.bordered-bot, .colorskin-custom button.blue.bordered-bot, .colorskin-custom input[type="submit"].blue.bordered-bot, .colorskin-custom input[type="reset"].blue.bordered-bot, .colorskin-custom input[type="button"].blue.bordered-bot, .colorskin-custom .icon-top-title i, .colorskin-custom .acc-trigger a:hover, .colorskin-custom .acc-trigger.active a, .colorskin-custom .acc-trigger.active a:hover, .colorskin-custom .icon-box i, .colorskin-custom .icon-box3:hover i, .colorskin-custom .icon-box4 i, .colorskin-custom .zoomex2 a:hover i, .colorskin-custom .pin-box h4 a:hover, .colorskin-custom .tline-box h4 a:hover, .colorskin-custom .blog-post a:hover, .colorskin-custom .blog-author span, .colorskin-custom .blog-line p a:hover, .colorskin-custom .jcarousel-next:hover, .colorskin-custom .jcarousel-next:active, .colorskin-custom .jcarousel-prev:hover, .colorskin-custom .jcarousel-prev:active, .colorskin-custom #header.sticky .nav-wrap2.darknavi #nav > li > a:hover, .colorskin-custom .wpb_accordion .wpb_accordion_wrapper .ui-state-active a, .colorskin-custom .wpb_accordion .wpb_accordion_wrapper .wpb_accordion_header a:hover, .colorskin-custom .blox.dark a.magicmore, .colorskin-custom #nav a:hover, .colorskin-custom #nav li:hover > a, .colorskin-custom #nav li.current > a, .colorskin-custom #nav li.active > a
{ color: #0ab1f0}

.colorskin-custom a.magicmore:after, .colorskin-custom .max-counter.m-counter:hover .max-count, .colorskin-custom .blox.dark .max-counter.m-counter:hover .max-count, .colorskin-custom .dark-content .max-counter.m-counter:hover .max-count, .colorskin-custom nav.primary .portfolioFilters a.selected, .colorskin-custom nav.primary ul li a:active, .colorskin-custom .our-process-item:hover i, .colorskin-custom .jcarousel-next:hover, .colorskin-custom .jcarousel-next:active, .colorskin-custom .jcarousel-prev:hover, .colorskin-custom .jcarousel-prev:active, .colorskin-custom a.magicmore:after, .colorskin-custom .icon-box1:hover i, .colorskin-custom .icon-box5:hover i, .colorskin-custom h6.h-sub-content, .colorskin-custom .button.blue.bordered-bot, .colorskin-custom button.blue.bordered-bot, .colorskin-custom input[type="submit"].blue.bordered-bot, .colorskin-custom input[type="reset"].blue.bordered-bot, .colorskin-custom input[type="button"].blue.bordered-bot, .colorskin-custom .zoomex2 a:hover i
{ border-color:#0ab1f0}

.woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce #respond input#submit, .woocommerce #content input.button, .woocommerce-page a.button, .woocommerce-page button.button, .woocommerce-page input.button, .woocommerce-page #respond input#submit, .woocommerce-page #content input.button{
padding: 8px 12px;
text-transform: uppercase;
font-size: 15px;
}

.woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce #respond input#submit.alt, .woocommerce #content input.button.alt, .woocommerce-page a.button.alt, .woocommerce-page button.button.alt, .woocommerce-page input.button.alt, .woocommerce-page #respond input#submit.alt, .woocommerce-page #content input.button.alt{
background: none repeat scroll 0 0 #0868b1;
}

.woocommerce #payment ul.payment_methods li, .woocommerce-page #payment ul.payment_methods li{
padding-bottom: 0;
margin-bottom: 0;
}



/* input field custom style */
.woocommerce form .form-row label, .woocommerce-page form .form-row label {
display: inline-block;
float: left;
}

.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea, .woocommerce-page form .form-row input.input-text, .woocommerce-page form .form-row textarea {

width: 85%;
float: right;
display: inline-block;
}
.form-row-wide .chosen-container{ width:85% !important; float:right; margin-bottom:30px }
.form-row-first input{ width:68% !important; }
	


::selection{background:#0ab1f0;}
.top-links a:hover{color:#0ab1f0;}
a:hover{color:#000000;}
.button.pink{background: #000000;color:#FFFFFF;}
.button.pink:hover{background: #FFFFFF;color:#000000;}
.blox.dark .button.pink:hover{background: #FFFFFF;color:#000000;}
a.magicmore:after{border: #000000;
border-top-color: rgb(0, 0, 0);
border-right-color: rgb(0, 0, 0);
border-bottom-color: rgb(0, 0, 0);
border-left-color: rgb(0, 0, 0);}
.grow {
    text-decoration: none;
    display: block;
    overflow: hidden;
    float: left;
    margin: 0 3px 3px 0;
    opacity: 1;
    -webkit-transform: scale(1,1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1,1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;
}
.grow:hover {
    opacity: .95;
    -webkit-transform: scale(1.05,1.05);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1.05,1.05);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;
    position: relative;
    z-index: 99;
}

.icon-box4:hover i{box-shadow: inset 0 0 0 50px #0ab1f0;
}



.woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce #respond input#submit, .woocommerce #content input.button, .woocommerce-page a.button, .woocommerce-page button.button, .woocommerce-page input.button, .woocommerce-page #respond input#submit, .woocommerce-page #content input.button{
padding: 8px 12px;
text-transform: uppercase;
font-size: 15px;
}

.woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce #respond input#submit.alt, .woocommerce #content input.button.alt, .woocommerce-page a.button.alt, .woocommerce-page button.button.alt, .woocommerce-page input.button.alt, .woocommerce-page #respond input#submit.alt, .woocommerce-page #content input.button.alt{
background: none repeat scroll 0 0 #0868b1;
}

.woocommerce #payment ul.payment_methods li, .woocommerce-page #payment ul.payment_methods li{
padding-bottom: 0;
margin-bottom: 0;
}



/* input field custom style */
.woocommerce form .form-row label, .woocommerce-page form .form-row label {
display: inline-block;
float: left;
}

.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea, .woocommerce-page form .form-row input.input-text, .woocommerce-page form .form-row textarea {

width: 85%;
float: right;
display: inline-block;
}
.form-row-wide .chosen-container{ width:85% !important; float:right; margin-bottom:30px }
.form-row-first input{ width:68% !important; }
	




.input-radio {
  margin: 10px 0 10px 0;
  padding-bottom: 20px;
}
.input-radio input[type=radio] { float:left; }

.woocommerce form .form-row select, .woocommerce-page form .form-row select {
  width: 85%;
  float: right;
  margin: 0 0 20px !important;
}

